body {
    font-family: Arial, sans-serif;    
    margin: 25px;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
nav a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
}
p {
    color: white;
    text-align: center;
}
section {
    min-height: 40vh;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-around;
    padding: 20px;
    background-color: #333;
}
article {
    width: 45%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}